<button class="dev-tool-toggle" nz-button (click)="onOpenDevTools()">开发配置</button>

<nz-drawer
  [nzHeight]="500"
  [nzClosable]="false"
  [nzVisible]="visible"
  nzPlacement="bottom"
  [nzTitle]="aaa"
  (nzOnClose)="visible = false"
>
  <nz-table #editRowTable nzBordered nzSize="middle" [nzData]="dataSource" nzTableLayout="fixed">
    <thead>
      <tr>
        <th>应用名称</th>
        <th>应用标题</th>
        <th>应用路径</th>
        <th>应用地址</th>
        <th>应用端口</th>
        <th>应用菜单</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataSource">
        <ng-container *ngIf="!editSource[data.id].edit; else editTemplate">
          <td>{{ data.name }}</td>
          <td>{{ data.title }}</td>
          <td>{{ data.path }}</td>
          <td>{{ data.host }}</td>
          <td>{{ data.port }}</td>
          <td>{{ data.menu | json | nzEllipsis: 10:'...' }}</td>
          <td><a (click)="startEdit(data.id)">编辑</a></td>
        </ng-container>
        <ng-template #editTemplate>
          <td><input type="text" nz-input [(ngModel)]="editSource[data.id].data.name" /></td>
          <td><input type="text" nz-input [(ngModel)]="editSource[data.id].data.title" /></td>
          <td><input type="text" nz-input [(ngModel)]="editSource[data.id].data.path" /></td>
          <td><input type="text" nz-input [(ngModel)]="editSource[data.id].data.host" /></td>
          <td><input type="text" nz-input [(ngModel)]="editSource[data.id].data.port" /></td>
          <td><input type="text" nz-input [(ngModel)]="editSource[data.id].data.menu" /></td>
          <td>
            <nz-space>
              <nz-space-item>
                <a (click)="saveEdit(data.id)" class="save">保存</a>
              </nz-space-item>
              <nz-space-item>
                <a (click)="cancelEdit(data.id)" class="cancel">取消</a>
              </nz-space-item>
            </nz-space>
          </td>
        </ng-template>
      </tr>
    </tbody>
  </nz-table>
</nz-drawer>

<ng-template #aaa>
  <div class="flex-row justify-content-between">
    <div>开发应用配置</div>
    <a nz-button nzType="link" (click)="onAddApplication()">添加</a>
  </div>
</ng-template>
